# Database
POSTGRES_USER=rag
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=cinedb
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Groq API
GROQ_API_KEY=gsk_your_key_here

# TMDB API (free from https://www.themoviedb.org/settings/api)
TMDB_API_KEY=your_tmdb_key_here

# LLM
LLM_MODEL=llama-3.1-8b-instant

# Embedding
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2

# JWT
SECRET_KEY=change-me-in-production
